@tailwind base;
@tailwind components;
@tailwind utilities;

/* set background default color tailwind bg-cyan-950 */
body {
  background-color: rgb(8 51 68);
  color: white
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
