.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: white;
  z-index: 100;
  visibility: visible;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}





